<%# locals: (account:, budget:) %>
<div data-controller="popover" class="relative">
  <button
    type="button"
    data-action="popover#toggle"
    aria-label="<%= t("transactions.index.actions") %>"
    class="
      m-0.5 flex h-6 w-6 items-center justify-center rounded-full border-2 border-taupe-800
      leading-none text-taupe-800
    "
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      class="h-[18px] w-[18px] translate-y-px"
      fill="currentColor"
    >
      <path
        d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM3.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm9 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
      ></path>
    </svg>
  </button>

  <div
    data-popover-target="menu"
    class="
      absolute right-0 top-full z-10 mt-1 overflow-hidden rounded-lg border border-taupe-200
      bg-white whitespace-nowrap shadow-lg hidden
    "
  >
    <%= button_to budget_account_reconciliation_path(budget, account),
                  class: "flex w-full items-center justify-between gap-4 px-3 py-2 text-left text-sm text-taupe-800",
                  form:  { data: { turbo_confirm: t(".reconcile_confirm") } } do %>
      <span class="flex flex-col">
        <span><%= t(".reconcile") %></span>

        <span class="text-xs text-taupe-500">
          <% if account.last_reconciled_at %>
            <%= t(".reconciled", time: relative_time(account.last_reconciled_at.to_date)) %>
          <% else %>
            <%= t(".reconciled_never") %>
          <% end %>
        </span>
      </span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 text-taupe-800"
        viewBox="0 0 16 16"
        fill="currentColor"
      >
        <path
          d="M4 4a4 4 0 0 1 8 0v2h.25c.966 0 1.75.784 1.75 1.75v5.5A1.75 1.75 0 0 1 12.25 15h-8.5A1.75 1.75 0 0 1 2 13.25v-5.5C2 6.784 2.784 6 3.75 6H4Zm8.25 3.5h-8.5a.25.25 0 0 0-.25.25v5.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-5.5a.25.25 0 0 0-.25-.25ZM10.5 6V4a2.5 2.5 0 1 0-5 0v2Z"
        />
      </svg>
    <% end %>

    <hr class="border-taupe-200">

    <%= render "shared/transactions/hide_reconciled", budget: budget %>

    <% if account.credit? %>
      <hr class="border-t-4 border-taupe-100">
      <%= link_to new_budget_transfer_path(budget, to_account_id: account.id),
                  data:  { turbo_frame: "transaction_dialog" },
                  class: "flex w-full items-center justify-between gap-4 px-3 py-2 text-left text-sm text-taupe-800" do %>
        <%= t(".record_payment") %>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="h-4 w-4 text-taupe-800"
          fill="currentColor"
        >
          <path
            d="M11.78 2.22a.75.75 0 0 0-1.06 1.06L12.69 5.25H2.75a.75.75 0 0 0 0 1.5h9.94l-1.97 1.97a.75.75 0 1 0 1.06 1.06l3.25-3.25a.75.75 0 0 0 0-1.06ZM4.22 13.78a.75.75 0 0 0 1.06-1.06L3.31 10.75h9.94a.75.75 0 0 0 0-1.5H3.31l1.97-1.97a.75.75 0 0 0-1.06-1.06L.97 9.47a.75.75 0 0 0 0 1.06Z"
          />
        </svg>
      <% end %>
    <% end %>

    <hr class="border-t-4 border-taupe-100">

    <%= link_to edit_budget_account_path(budget, account),
                data:  { turbo_frame: "account_dialog" },
                class: "flex w-full items-center justify-between gap-4 px-3 py-2 text-left text-sm text-taupe-800" do %>
      <%= t(".edit") %>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        class="h-4 w-4 text-taupe-800"
        fill="currentColor"
      >
        <path
          d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z"
        />
      </svg>
    <% end %>
  </div>
</div>
