<div class="flex flex-col min-h-screen">
  <header class="flex items-center justify-between bg-white p-4">
    <div class="flex items-center gap-2">
      <%= link_to budget_accounts_path(@budget), aria: { label: "Back" } do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      <% end %>

      <h1 class="text-lg font-semibold"><%= @account.name %></h1>
    </div>

    <%= render "accounts/transactions/reconcile_link", account: @account, budget: @budget %>
  </header>

  <div class="flex items-end justify-between border-b border-taupe-200 bg-white px-4 pb-2">
    <div>
      <p class="text-lg font-semibold">
        <%= number_to_currency Money.from_cents(@account.balance) %>
      </p>

      <p class="text-xs"><%= t(".working_balance") %></p>
    </div>

    <div class="grid grid-cols-[auto_auto] gap-x-3 text-sm">
      <span><%= t(".cleared_balance") %></span>

      <span id="cleared_balance" class="text-right font-semibold">
        <%= number_to_currency Money.from_cents(@account.cleared_balance) %>
      </span>

      <span><%= t(".uncleared_balance") %></span>

      <span id="uncleared_balance" class="text-right font-semibold">
        <%= number_to_currency Money.from_cents(@account.uncleared_balance) %>
      </span>
    </div>
  </div>

  <section class="flex-1">
    <%= render "transactions/list",
               empty_message:        t(".empty"),
               grouped_transactions: @grouped_transactions,
               show_account:         false %>
  </section>

  <%= render "shared/toolbar", budget: @budget %>
</div>
