<div class="flex flex-col min-h-screen">
  <header class="sticky top-0 z-10 flex items-center justify-between bg-white p-4">
    <div class="flex items-center gap-2">
      <%= link_to(
            month_budget_path(@budget, year: @budget_snapshot.previous_date.year, month: @budget_snapshot.previous_date.month),
            aria:  { label: t(".previous_month"), disabled: @budget_snapshot.first_month? || nil },
            class: navigation_arrow_class(@budget_snapshot.first_month?),
            id:    "previous-month"
          ) do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      <% end %>

      <h1 class="text-lg font-semibold"><%= @budget_snapshot.date.strftime("%b %Y") %></h1>

      <%= link_to(
            month_budget_path(@budget, year: @budget_snapshot.next_date.year, month: @budget_snapshot.next_date.month),
            aria:  { label: t(".next_month"), disabled: @budget_snapshot.last_month? || nil },
            class: navigation_arrow_class(@budget_snapshot.last_month?),
            id:    "next-month"
          ) do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      <% end %>
    </div>

    <div class="text-right leading-tight">
      <div
        class="text-sm font-medium inline-block rounded-full px-2.5 py-0.5 <%= amount_color(@budget.available_to_assign) %>"
        title="<%= t(".available_to_assign") %>"
      >
        <%= number_to_currency Money.from_cents(@budget.available_to_assign) %>
      </div>
    </div>
  </header>

  <section class="flex-1">
    <table class="w-full text-left">
      <% @budget.categories.reject(&:inflow?).sort_by(&:position).each do |category| %>
        <thead class="bg-slate-100 border-y border-slate-200">
          <tr
            class="cursor-pointer"
            data-controller="collapsible"
            data-collapsible-id-value="category-<%= category.id %>"
            data-action="click->collapsible#toggle"
          >
            <th scope="col" class="py-2 px-4 text-lg truncate max-w-px">
              <div
                class="
                  inline-block relative -inset-y-1 mr-2 w-3 h-3 border-r-2 border-b-2 transform
                  rotate-45 border-slate-500
                "
                data-collapsible-target="arrow"
              ></div>

              <%= category.name %>
            </th>

            <% @budget_snapshot.snapshot_for(category.id).tap do |snapshot| %>
              <th scope="col" class="py-2 px-4 w-1/4 text-right">
                <div class="text-sm font-normal"><%= t(".assigned") %></div>
                <div><%= number_to_currency Money.from_cents(snapshot.amount_assigned) %></div>
              </th>

              <th scope="col" class="py-2 px-4 w-1/4 text-right">
                <div class="text-sm font-normal"><%= t(".available") %></div>
                <div><%= number_to_currency Money.from_cents(snapshot.amount_remaining) %></div>
              </th>
            <% end %>
          </tr>
        </thead>

        <tbody data-collapsible-content="collapsible-category-<%= category.id %>">
          <% category.subcategories.sort_by(&:position).each do |subcategory| %>
            <tr class="bg-white border-b border-slate-200">
              <th scope="row" class="py-3 px-4 font-normal whitespace-nowrap">
                <%= link_to subcategory.name,
                            edit_budget_category_path(@budget, subcategory),
                            class: "text-inherit no-underline" %>
              </th>

              <% @budget_snapshot.snapshot_for(subcategory.id).tap do |snapshot| %>
                <td class="py-3 px-4 font-semibold text-right" data-controller="inline-edit">
                  <%= turbo_frame_tag dom_id(subcategory, :assignment) do %>
                    <%= link_to number_to_currency(Money.from_cents(snapshot.amount_assigned)),
                                edit_budget_category_assignment_path(@budget, subcategory, year: @budget_snapshot.date.year, month: @budget_snapshot.date.month),
                                class: "text-inherit no-underline cursor-text",
                                data:  { action: "click->inline-edit#prefocus", turbo_prefetch: false } %>
                  <% end %>
                </td>

                <td class="py-3 px-4 font-semibold text-right">
                  <div class="inline-block py-0.5 px-2 -my-0.5 -mx-2 rounded-full <%= amount_color(snapshot.amount_remaining) %>">
                    <%= number_to_currency Money.from_cents(snapshot.amount_remaining) %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </section>

  <%= render "shared/toolbar", budget: @budget %>
</div>
