<%= turbo_frame_tag "transaction_dialog", class: "flex flex-col h-full" do %>
  <div
    data-controller="from-account-picker to-account-picker"
    class="relative flex flex-col h-full overflow-x-clip"
  >
    <div>
      <header class="relative p-4">
        <h2 class="text-lg font-semibold text-center"><%= t(".title") %></h2>

        <button type="button" class="absolute top-4 left-4 text-sm" data-action="dialog#close">
          <%= t(".cancel") %>
        </button>

        <button
          type="submit"
          form="transaction_form"
          class="absolute top-4 right-4 text-sm font-semibold text-indigo-600"
        >
          <%= t(".submit") %>
        </button>
      </header>

      <%= render "form",
                 form:   @form,
                 method: :post,
                 url:    budget_transfers_path(@budget) %>
    </div>

    <%= render "accounts/picker",
               accounts:   @accounts.reject(&:credit),
               controller: "from-account-picker",
               selected:   @form.from_account %>

    <%= render "accounts/picker",
               accounts:   @accounts.select(&:credit),
               controller: "to-account-picker",
               selected:   @form.to_account %>
  </div>
<% end %>
