<%= turbo_frame_tag "transaction_dialog", class: "flex flex-col h-full" do %>
  <div
    data-controller="from-account-picker to-account-picker"
    class="relative flex flex-col h-full overflow-x-clip"
  >
    <div>
      <header class="relative p-4">
        <h2 class="text-lg font-semibold text-center"><%= t(".title") %></h2>

        <button
          type="button"
          class="
            absolute top-4 right-4 text-2xl leading-none text-taupe-400 cursor-pointer
            hover:text-taupe-600
          "
          data-action="dialog#close"
          aria-label="Close dialog"
        >
          &times;
        </button>
      </header>

      <%= render "form",
                 accounts:     @accounts,
                 form:         @form,
                 method:       :post,
                 submit_label: t(".submit"),
                 url:          budget_transfers_path(@budget) %>
    </div>

    <%= render "accounts/picker",
               accounts:   @accounts,
               controller: "from-account-picker",
               selected:   @form.from_account %>

    <%= render "accounts/picker",
               accounts:   @accounts,
               controller: "to-account-picker",
               selected:   @form.to_account %>
  </div>
<% end %>
