<%# locals: (category:, budget_snapshot:) %>
<div
  id="<%= dom_id(category, :available) %>"
  class="inline-flex items-baseline gap-1 py-0.5 px-2 -my-0.5 -mx-2 rounded-full <%= available_color(category, budget_snapshot) %>"
>
  <% if category.target_type? && budget_snapshot.available_for(category) >= 0 %>
    <% if budget_snapshot.snoozed?(category) %>
      <svg class="h-4 w-3 self-center select-none" viewBox="0 0 15 20" role="img">
        <title><%= t("categories.show.target.snoozed_label") %></title>

        <text
          x="0"
          y="15"
          font-size="11"
          font-weight="700"
          fill="currentColor"
        >
          Z
        </text>

        <text
          x="8"
          y="9"
          font-size="10"
          font-weight="700"
          fill="currentColor"
        >
          z
        </text>
      </svg>
    <% else %>
      <% budget_snapshot.target_progress_for(category).tap do |progress| %>
        <%= render "shared/progress_pie",
                   progress:  progress,
                   label:     progress_label(progress),
                   css_class: "w-4 h-4 -ml-0.5 self-center" %>
      <% end %>
    <% end %>
  <% end %>

  <span><%= number_to_money budget_snapshot.available_for(category) %></span>
</div>
