<%# locals: (budget:, category:, budget_snapshot:, previous_budget_snapshot:) %>
<header class="relative p-4">
  <h2 id="category_dialog_title" class="text-lg font-semibold text-center">
    <%= category.name %>
  </h2>

  <button
    type="button"
    data-action="dialog#close"
    class="absolute top-4 right-4 text-sm text-taupe-600"
  >
    <%= t("categories.show.done") %>
  </button>
</header>

<div class="self-center py-6 px-8 mx-auto w-full max-w-lg">
  <section>
    <h3 class="px-4 mb-2 text-sm font-medium text-taupe-600 uppercase tracking-wide">
      <%= t("categories.show.balance") %>
    </h3>

    <div class="bg-white rounded-xl divide-y divide-taupe-200">
      <div class="flex items-center justify-between px-4 py-3">
        <span><%= t("categories.show.rollover") %></span>
        <span><%= number_to_money(previous_budget_snapshot&.available_for(category) || 0) %></span>
      </div>

      <div class="flex items-center justify-between px-4 py-3">
        <span><%= t("categories.show.assigned") %></span>

        <span>
          <%= number_to_money budget_snapshot.snapshot_for(category.id).amount_assigned %>
        </span>
      </div>

      <div class="flex items-center justify-between px-4 py-3">
        <span><%= t("categories.show.activity") %></span>
        <span><%= number_to_money(-budget_snapshot.snapshot_for(category.id).amount_used) %></span>
      </div>

      <div class="flex items-center justify-between px-4 py-3">
        <span><%= t("categories.show.available") %></span>

        <span class="inline-block py-0.5 px-2 -my-0.5 rounded-full <%= amount_color(budget_snapshot.available_for(category)) %>">
          <%= number_to_money budget_snapshot.available_for(category) %>
        </span>
      </div>
    </div>
  </section>

  <section class="mt-6">
    <h3 class="px-4 mb-2 text-sm font-medium text-taupe-600 uppercase tracking-wide">
      <%= t("categories.show.target.heading") %>
    </h3>

    <%= render "categories/target",
               budget:          budget,
               category:        category,
               budget_snapshot: budget_snapshot %>
  </section>

  <%= link_to edit_budget_category_path(budget, category,
                                        year:  budget_snapshot.date.year,
                                        month: budget_snapshot.date.month),
              class: "
                flex items-center justify-center gap-2 mt-6 p-3 w-full text-sm font-medium
                text-indigo-600 bg-taupe-200 rounded-lg
                focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500
                focus-visible:ring-offset-2 focus-visible:ring-offset-taupe-50 no-underline
              ",
              data:  { turbo_frame: "category_rename_dialog" } do %>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-4 h-4"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z"
      />

      <path
        d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z"
      />
    </svg>

    <%= t("categories.show.rename") %>
  <% end %>
</div>
