<%# locals: (budget:, category:, budget_snapshot:) %>
<div id="<%= dom_id(category, :target) %>">
  <div class="bg-white rounded-xl p-4">
    <% if category.target_type? %>
      <%= render "categories/target_summary", category: category, budget_snapshot: budget_snapshot %>
      <%= link_to t("categories.show.target.edit"),
                  edit_budget_category_target_path(budget, category,
                                                   year:  budget_snapshot.date.year,
                                                   month: budget_snapshot.date.month),
                  class: "
                    flex items-center justify-center gap-2 mt-2 p-3 w-full text-sm font-medium
                    text-white bg-indigo-600 rounded-lg
                    focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500
                    focus-visible:ring-offset-2 focus-visible:ring-offset-taupe-50 no-underline
                  ",
                  data:  { turbo_frame: "category_target_dialog" } %>
      <%= button_to t("categories.show.target.#{budget_snapshot.snoozed?(category) ? "unsnooze" : "snooze"}"),
                    budget_category_snooze_path(budget, category,
                                                year:  budget_snapshot.date.year,
                                                month: budget_snapshot.date.month),
                    method: budget_snapshot.snoozed?(category) ? :delete : :post,
                    class:  "
                      flex items-center justify-center gap-2 mt-2 p-3 w-full text-sm font-medium
                      text-indigo-600 bg-taupe-200 rounded-lg
                      focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500
                      focus-visible:ring-offset-2 focus-visible:ring-offset-taupe-50
                    " %>
    <% else %>
      <p class="px-2 pb-2 text-center font-bold">
        <%= t("categories.show.target.question", name: category.name) %>
      </p>
      <p class="px-2 pb-3 text-sm text-center text-taupe-600">
        <%= t("categories.show.target.description") %>
      </p>
      <%= link_to t("categories.show.target.create"),
                  edit_budget_category_target_path(budget, category,
                                                   year:  budget_snapshot.date.year,
                                                   month: budget_snapshot.date.month),
                  class: "
                    flex items-center justify-center gap-2 mt-2 p-3 w-full text-sm font-medium
                    text-white bg-indigo-600 rounded-lg
                    focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500
                    focus-visible:ring-offset-2 focus-visible:ring-offset-taupe-50 no-underline
                  ",
                  data:  { turbo_frame: "category_target_dialog" } %>
    <% end %>
  </div>
</div>
