<%= turbo_frame_tag "category_rename_dialog", class: "flex flex-col h-full" do %>
  <header class="relative p-4">
    <h2 id="category_rename_dialog_title" class="text-lg font-semibold text-center">
      <%= t(".title") %>
    </h2>

    <button
      type="button"
      data-action="dialog#close"
      class="absolute top-4 left-4 text-sm text-taupe-600 cursor-pointer"
    >
      <%= t(".cancel") %>
    </button>
  </header>

  <div class="self-center py-6 px-8 mx-auto w-full max-w-lg">
    <%= form_with model:  @form,
                  url:    budget_category_path(@budget, @category, year: params[:year], month: params[:month]),
                  method: :patch,
                  class:  "highlight-errors" do |f| %>
      <div class="bg-white rounded-xl">
        <div
          class="
            flex items-center gap-3 px-4 py-4 rounded-xl focus-within:outline-none
            focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-inset
          "
        >
          <div class="grow">
            <%= f.label :name, class: "sr-only" %>

            <%= f.text_field :name,
                             autofocus:   true,
                             class:       "w-full bg-transparent border-none outline-none text-base placeholder:text-taupe-400 focus:ring-0",
                             placeholder: t(".enter_name"),
                             required:    true %>

            <% if @form.errors[:name].present? %>
              <p class="mt-2 text-xs text-red-700">
                <%= CategoryForm.human_attribute_name(:name).humanize %>
                <%= @form.errors[:name].first %>.
              </p>
            <% end %>
          </div>
        </div>
      </div>

      <button
        class="
          block p-4 mx-auto mt-6 w-4/5 text-lg font-semibold text-center text-white
          bg-indigo-600 rounded-lg hover:bg-indigo-500 focus-visible:outline-none
          focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2
          focus-visible:ring-offset-taupe-50
        "
        type="submit"
      >
        <%= t(".submit") %>
      </button>
    <% end %>
  </div>
<% end %>
