<%# locals: (accounts:, categories:, form:, method:, submit_label:, url:) %>
<div class="self-center py-12 px-8 mx-auto w-full max-w-lg">
  <%= form_with model: form, url: url, method: method, class: "highlight-errors", data: { turbo: false } do |f| %>
    <div>
      <%= f.label :amount, class: "block mb-1 text-sm font-medium text-gray-800 hidden" %>
      <%= f.number_field :amount, autocomplete: false, autofocus: true, class: "w-full text-4xl font-semibold text-center bg-transparent outline-none no-spinner", required: true, inputmode: "decimal", step: 0.01, value: form.amount || "0.00", data: { controller: "amount", action: "input->amount#input keydown->amount#keydown paste->amount#paste" } %>

      <% if form.errors[:amount].present? %>
        <p class="mt-2 text-xs text-red-700">
          <%= TransactionForm.human_attribute_name(:amount).humanize %>
          <%= form.errors[:amount].first %>.
        </p>
      <% end %>
    </div>

    <div class="mt-6">
      <%= f.label :payee, class: "block mb-1 text-sm font-medium text-gray-800 hidden" %>
      <%= f.text_field :payee, class: "w-full p-3 text-lg border border-gray-300 rounded-lg", placeholder: t(".enter_payee"), required: true %>

      <% if form.errors[:payee].present? %>
        <p class="mt-2 text-xs text-red-700">
          <%= TransactionForm.human_attribute_name(:payee).humanize %>
          <%= form.errors[:payee].first %>.
        </p>
      <% end %>
    </div>

    <div class="mt-6">
      <%= f.label :subcategory_id, class: "block mb-1 text-sm font-medium text-gray-800 hidden" %>
      <%= f.grouped_collection_select :subcategory_id, categories, :subcategories_by_position, :name, :id, :name, { prompt: t(".select_subcategory"), selected: form.subcategory&.id }, { class: "w-full p-3 text-lg border border-gray-300 rounded-lg", required: true } %>

      <% if form.errors[:subcategory].present? %>
        <p class="mt-2 text-xs text-red-700">
          <%= TransactionForm.human_attribute_name(:subcategory_id).humanize %>
          <%= form.errors[:subcategory].first %>.
        </p>
      <% end %>
    </div>

    <div class="mt-6">
      <%= f.label :account_id, class: "block mb-1 text-sm font-medium text-gray-800 hidden" %>
      <%= f.collection_select :account_id, accounts, :id, :name, { prompt: t(".select_account"), selected: form.account&.id }, { class: "w-full p-3 text-lg border border-gray-300 rounded-lg", required: true } %>

      <% if form.errors[:account].present? %>
        <p class="mt-2 text-xs text-red-700">
          <%= TransactionForm.human_attribute_name(:account_id).humanize %>
          <%= form.errors[:account].first %>.
        </p>
      <% end %>
    </div>

    <div class="mt-6">
      <%= f.label :date, class: "block mb-1 text-sm font-medium text-gray-800 hidden" %>
      <%= f.date_field :date, class: "w-full p-3 text-lg border border-gray-300 rounded-lg", required: true, value: form.date %>

      <% if form.errors[:date].present? %>
        <p class="mt-2 text-xs text-red-700">
          <%= TransactionForm.human_attribute_name(:date).humanize %>
          <%= form.errors[:date].first %>.
        </p>
      <% end %>
    </div>

    <div class="mt-6">
      <%= f.label :memo, class: "block mb-1 text-sm font-medium text-gray-800 hidden" %>
      <%= f.text_field :memo, class: "w-full p-3 text-lg border border-gray-300 rounded-lg", placeholder: t(".enter_memo") %>
    </div>

    <button
      class="
        block p-4 mx-auto mt-6 w-4/5 text-lg font-semibold text-center text-white bg-green-600
        rounded-lg hover:bg-green-500 focus:outline-none focus:drop-shadow-green-200
      "
      type="submit"
    >
      <%= submit_label %>
    </button>
  <% end %>
</div>
