<%# locals: (current_transactions:, empty_message:, scheduled_transactions:, context:) %>
<% if scheduled_transactions.present? || current_transactions.present? %>
  <% if scheduled_transactions.present? %>
    <div
      id="scheduled"
      class="group"
      data-controller="collapsible"
      data-collapsible-id-value="scheduled"
    >
      <div
        class="
          flex cursor-pointer items-center justify-between border-y border-taupe-200
          bg-taupe-100 px-4 py-2
        "
        data-action="click->collapsible#toggle"
      >
        <h3 class="text-sm font-semibold">
          <div
            class="
              relative -inset-y-1 mr-2 inline-block h-3 w-3 rotate-45 border-b-2 border-r-2
              border-taupe-500 group-[.collapsed]:inset-y-0
              group-[.collapsed]:translate-x-(--collapsible-arrow-shift)
              group-[.collapsed]:-rotate-45
            "
            data-collapsible-arrow
          ></div>

          <%= t("transactions.list.scheduled") %>
        </h3>
      </div>

      <div class="group-[.collapsed]:hidden" data-collapsible-content="collapsible-scheduled">
        <% scheduled_transactions.group_by(&:date).each do |date, transactions| %>
          <%= render "transactions/scheduled_group",
                     context:      context,
                     date:         date,
                     transactions: transactions %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if current_transactions.present? %>
    <div id="current">
      <% current_transactions.group_by(&:date).each do |date, transactions| %>
        <h3 class="border-y border-taupe-200 bg-taupe-100 px-4 py-2 text-sm font-semibold">
          <%= relative_date(date) %>
        </h3>

        <ul class="divide-y divide-taupe-200">
          <% transactions.each do |transaction| %>
            <li class="bg-white">
              <div class="flex items-center gap-3 px-4 py-3">
                <%= render "transactions/status_indicator", transaction: transaction %>

                <%= transaction_row_wrapper(transaction) do %>
                  <div class="flex items-center justify-between">
                    <span class="font-medium"><%= transaction.payee.name %></span>

                    <span
                      class="
                        inline-block rounded-full px-2 py-0.5 font-semibold
                        <%= amount_color(transaction.amount) %>
                      "
                    >
                      <%= number_to_money transaction.amount %>
                    </span>
                  </div>

                  <div class="flex items-center justify-between gap-2 text-sm text-taupe-600">
                    <span class="max-w-[45%] truncate"><%= transaction_category(transaction) %></span>

                    <% if context == :account %>
                      <span class="max-w-[45%] truncate"><%= transaction.memo %></span>
                    <% elsif context == :transactions %>
                      <span><%= transaction.account.name %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p class="border-t border-taupe-200 p-8 text-center text-taupe-400"><%= empty_message %></p>
<% end %>
