<%# locals: (current_transactions:, empty_message:, scheduled_transactions:, context:) %>
<% if scheduled_transactions.present? || current_transactions.present? %>
  <table class="w-full table-fixed text-left">
    <colgroup>
      <% if context == :transactions %>
        <col class="w-[12%]">
      <% end %>

      <col class="w-28">
      <col class="w-[18%]">
      <col>
      <col class="w-[18%]">
      <col class="w-32">
      <col class="w-32">
      <col class="w-10">
    </colgroup>

    <thead class="sticky top-0 z-0 bg-white">
      <tr class="text-xs uppercase tracking-wide text-taupe-700">
        <% if context == :transactions %>
          <th
            scope="col"
            class="truncate p-2 font-medium shadow-[inset_0_-1px_0_var(--color-taupe-300)]"
          >
            <%= t(".columns.account") %>
          </th>
        <% end %>

        <th
          scope="col"
          class="p-2 font-medium whitespace-nowrap shadow-[inset_0_-1px_0_var(--color-taupe-300)]"
        >
          <%= t(".columns.date") %>
        </th>

        <th
          scope="col"
          class="
            truncate p-2 font-medium
            shadow-[inset_0_-1px_0_var(--color-taupe-300),inset_1px_0_0_var(--color-taupe-300)]
          "
        >
          <%= t(".columns.payee") %>
        </th>

        <th
          scope="col"
          class="
            truncate p-2 font-medium
            shadow-[inset_0_-1px_0_var(--color-taupe-300),inset_1px_0_0_var(--color-taupe-300)]
          "
        >
          <%= t(".columns.category") %>
        </th>

        <th
          scope="col"
          class="
            truncate p-2 font-medium
            shadow-[inset_0_-1px_0_var(--color-taupe-300),inset_1px_0_0_var(--color-taupe-300)]
          "
        >
          <%= t(".columns.memo") %>
        </th>

        <th
          scope="col"
          class="
            p-2 text-right font-medium whitespace-nowrap
            shadow-[inset_0_-1px_0_var(--color-taupe-300),inset_1px_0_0_var(--color-taupe-300)]
          "
        >
          <%= t(".columns.outflow") %>
        </th>

        <th
          scope="col"
          class="
            p-2 text-right font-medium whitespace-nowrap
            shadow-[inset_0_-1px_0_var(--color-taupe-300),inset_1px_0_0_var(--color-taupe-300)]
          "
        >
          <%= t(".columns.inflow") %>
        </th>

        <th
          scope="col"
          class="
            p-2 font-medium
            shadow-[inset_0_-1px_0_var(--color-taupe-300),inset_1px_0_0_var(--color-taupe-300)]
          "
        >
          <span
            class="
              flex h-4 w-4 items-center justify-center rounded-full bg-taupe-400 text-[0.625rem]
              font-bold text-white
            "
            aria-hidden="true"
          >
            C
          </span>

          <span class="sr-only"><%= t(".columns.status") %></span>
        </th>
      </tr>
    </thead>

    <% if scheduled_transactions.present? %>
      <tbody
        id="scheduled"
        class="group border-b border-taupe-300 bg-taupe-200"
        data-controller="collapsible"
        data-collapsible-id-value="scheduled"
      >
        <tr class="cursor-pointer" data-action="click->collapsible#toggle">
          <th
            scope="rowgroup"
            colspan="<%= context == :transactions ? 8 : 7 %>"
            class="relative py-2 pr-4 pl-9 text-sm font-semibold"
          >
            <div
              class="
                absolute inset-y-0 left-4 my-auto h-2 w-2 rotate-45 border-r border-b
                border-taupe-500 group-[.collapsed]:translate-x-(--collapsible-arrow-shift)
                group-[.collapsed]:-rotate-45
              "
              data-collapsible-arrow
            ></div>

            <%= t(".scheduled") %>
          </th>
        </tr>
      </tbody>
      <tbody class="[.group.collapsed+&]:hidden" data-collapsible-content="collapsible-scheduled">
        <% scheduled_transactions.each do |transaction| %>
          <%= render "transactions/transaction", transaction: transaction, scheduled: true, context: context %>
        <% end %>

        <tr aria-hidden="true">
          <td
            colspan="<%= context == :transactions ? 8 : 7 %>"
            class="border-b border-taupe-300 bg-taupe-200 py-0.5"
          ></td>
        </tr>
      </tbody>
    <% end %>

    <% if current_transactions.present? %>
      <tbody>
        <% current_transactions.each do |transaction| %>
          <%= render "transactions/transaction", transaction: transaction, context: context %>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% else %>
  <p class="border-t border-taupe-200 p-8 text-center text-taupe-400"><%= empty_message %></p>
<% end %>
