<%# locals: (grouped_transactions:, empty_message:, show_account: true) %>
<% if grouped_transactions.present? %>
  <% grouped_transactions.each do |date, transactions| %>
    <h3 class="py-2 px-4 text-sm font-semibold bg-slate-100 border-y border-slate-200">
      <%= relative_date(date) %>
    </h3>

    <ul class="divide-y divide-slate-200">
      <% transactions.each do |transaction| %>
        <li class="flex flex-col gap-0.5 py-3 px-4 bg-white">
          <div class="flex items-center justify-between">
            <span class="font-medium"><%= transaction.payee %></span>

            <span
              class="
                inline-block py-0.5 px-2 font-semibold rounded-full
                <%= amount_color(transaction.amount) %>
              "
            >
              <%= number_to_currency Money.from_cents(transaction.amount) %>
            </span>
          </div>

          <div class="flex items-center justify-between text-sm text-slate-400">
            <span><%= transaction.subcategory.name %></span>

            <% if show_account %>
              <span><%= transaction.account.name %></span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p class="border-t border-slate-200 p-8 text-center text-slate-400"><%= empty_message %></p>
<% end %>
