<%# locals: (date:, transactions:, show_account:) %>
<h3 class="py-2 px-4 text-sm font-semibold bg-taupe-100 border-y border-taupe-200">
  <%= relative_date(date) %>
</h3>

<ul class="divide-y divide-taupe-200">
  <% transactions.each do |transaction| %>
    <li class="bg-taupe-50">
      <div class="flex items-center gap-3 py-3 px-4">
        <%= render "transactions/status_indicator", transaction: transaction %>

        <%= transaction_row_wrapper(transaction) do %>
          <div class="flex items-center justify-between">
            <span class="font-medium text-taupe-400"><%= transaction.payee.name %></span>

            <span class="inline-block rounded-full px-2 py-0.5 font-semibold bg-taupe-200 text-taupe-600">
              <%= number_to_money transaction.amount %>
            </span>
          </div>

          <div class="flex items-center justify-between text-sm text-taupe-400">
            <span><%= transaction.subcategory&.name %></span>

            <% if show_account %>
              <span><%= transaction.account.name %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
