<%# locals: (transaction:) %>
<div id="<%= dom_id(transaction, :status) %>" class="flex items-center">
  <% if transaction.upcoming? %>
    <span role="img" aria-label="<%= t(".upcoming") %>">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="m-0.5 h-4 w-4 text-taupe-400"
        viewBox="0 0 16 16"
        fill="currentColor"
      >
        <path
          d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm7-3.25v2.992l2.028.812a.75.75 0 0 1-.557 1.392l-2.5-1A.751.751 0 0 1 7 8.25v-3.5a.75.75 0 0 1 1.5 0Z"
        />
      </svg>
    </span>
  <% elsif transaction.reconciled? %>
    <span role="img" aria-label="<%= t(".reconciled") %>">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="m-0.5 h-4 w-4 text-taupe-400"
        viewBox="0 0 16 16"
        fill="currentColor"
      >
        <path
          d="M4 4a4 4 0 0 1 8 0v2h.25c.966 0 1.75.784 1.75 1.75v5.5A1.75 1.75 0 0 1 12.25 15h-8.5A1.75 1.75 0 0 1 2 13.25v-5.5C2 6.784 2.784 6 3.75 6H4Zm8.25 3.5h-8.5a.25.25 0 0 0-.25.25v5.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-5.5a.25.25 0 0 0-.25-.25ZM10.5 6V4a2.5 2.5 0 1 0-5 0v2Z"
        />
      </svg>
    </span>
  <% else %>
    <%= button_to clear_budget_transaction_path(transaction.budget, transaction),
                  method: transaction.cleared? ? :delete : :patch,
                  class:  "-my-3 -ml-4 -mr-1 flex items-center justify-center py-3 pl-4 pr-1" do %>
      <% if transaction.cleared? %>
        <span
          class="
            flex h-5 w-5 items-center justify-center rounded-full bg-lime-600 text-xs font-bold
            text-white
          "
        >
          C
        </span>
      <% else %>
        <span class="block h-5 w-5 rounded-full border-2 border-taupe-300"></span>
      <% end %>

      <span class="sr-only"><%= transaction.cleared? ? t(".cleared") : t(".pending") %></span>
    <% end %>
  <% end %>
</div>
