<div class="flex flex-col min-h-screen">
  <header class="overflow-hidden text-center bg-white">
    <h1 class="p-4 text-lg font-semibold"><%= t(".title") %></h1>
  </header>

  <section class="flex-1">
    <% if @grouped_transactions.empty? %>
      <p class="p-8 text-center text-slate-400"><%= t(".empty") %></p>
    <% else %>
      <% @grouped_transactions.each do |date, transactions| %>
        <h3 class="py-2 px-4 text-sm font-semibold bg-slate-100 border-y border-slate-200">
          <%= l(date, format: :long) %>
        </h3>

        <ul class="divide-y divide-slate-200">
          <% transactions.each do |transaction| %>
            <li class="flex flex-col gap-0.5 py-3 px-4 bg-white">
              <div class="flex items-center justify-between">
                <span class="font-medium"><%= transaction.payee %></span>

                <span
                  class="
                    inline-block py-0.5 px-2 font-semibold rounded-full
                    <%= amount_color(transaction.amount) %>
                  "
                >
                  <%= number_to_currency Money.from_cents(transaction.amount) %>
                </span>
              </div>

              <div class="flex items-center justify-between text-sm text-slate-400">
                <span><%= transaction.subcategory.name %></span>
                <span><%= transaction.account.name %></span>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </section>

  <%= render "shared/toolbar", budget: @budget %>
</div>
