<%= turbo_frame_tag "transaction_dialog", class: "flex flex-col h-full" do %>
  <div
    data-controller="payee-picker category-picker account-picker frequency-picker"
    data-payee-picker-account-picker-outlet="[data-controller~='account-picker']"
    data-payee-picker-category-picker-outlet="[data-controller~='category-picker']"
    class="relative flex flex-col h-full overflow-x-clip"
  >
    <div>
      <header class="relative p-4">
        <h2 class="text-lg font-semibold text-center"><%= t(".title") %></h2>

        <button
          type="button"
          class="absolute top-4 left-4 text-sm cursor-pointer"
          data-action="dialog#close"
        >
          <%= t(".cancel") %>
        </button>

        <button
          type="submit"
          form="transaction_form"
          class="absolute top-4 right-4 text-sm font-semibold text-indigo-600 cursor-pointer"
        >
          <%= t(".submit") %>
        </button>
      </header>

      <%= render "form",
                 form:   @form,
                 method: :post,
                 url:    budget_transactions_path(@form.budget) %>
    </div>

    <%= render "accounts/picker",
               accounts:   @accounts,
               controller: "account-picker",
               selected:   @form.account %>

    <%= render "category_picker", picker: @category_picker %>
    <%= render "frequency_picker", form: @form %>
    <%= render "payee_picker", form: @form, payees: @payees %>
  </div>
<% end %>
