<div class="self-center py-12 px-8 mx-auto w-full max-w-lg">
  <%= form_for @form, url: budget_transactions_path(@form.budget), html: { class: "highlight-errors", data: { turbo: false } } do |form| %>
    <div>
      <%= form.label :amount, class: "block mb-1 text-sm font-medium text-gray-800 hidden" %>
      <%= form.number_field :amount, autocomplete: false, autofocus: true, class: "w-full text-red-600 text-4xl font-semibold text-center w-full bg-transparent outline-none no-spinner", required: true, inputmode: "decimal", step: 0.01, value: "0.00" %>

      <% if @form.errors[:amount].present? %>
        <p class="mt-2 text-xs text-red-700">
          <%= Transaction.human_attribute_name(:amount).humanize %>
          <%= @form.errors[:amount].first %>.
        </p>
      <% end %>
    </div>

    <div class="mt-6">
      <%= form.label :subcategory_id, class: "block mb-1 text-sm font-medium text-gray-800 hidden" %>
      <%= form.collection_select :subcategory_id, @subcategories, :id, :name, { prompt: t(".select_subcategory"), selected: @form.category&.id }, { class: "w-full p-3 text-lg border border-gray-300 rounded-lg", required: true } %>

      <% if @form.errors[:category].present? %>
        <p class="mt-2 text-xs text-red-700">
          <%= TransactionForm.human_attribute_name(:subcategory_id).humanize %>
          <%= @form.errors[:category].first %>.
        </p>
      <% end %>
    </div>

    <button
      class="
        block p-4 mx-auto mt-6 w-4/5 text-lg font-semibold text-center text-white bg-green-600
        rounded-lg hover:bg-green-500 focus:outline-none focus:drop-shadow-green-200
      "
      type="submit"
    >
      <%= t(".submit") %>
    </button>
  <% end %>
</div>

<style>
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}
</style>
