<%= turbo_frame_tag "transaction_dialog", class: "flex flex-col h-full" do %>
  <div
    data-controller="payee-picker category-picker"
    data-payee-picker-url-value="<%= budget_payees_path(@form.budget) %>"
    data-category-picker-url-value="<%= budget_categories_path(@form.budget, format: :json) %>"
    class="relative flex flex-col h-full overflow-x-clip"
  >
    <div>
      <header class="relative p-4">
        <h2 class="text-lg font-semibold text-center"><%= t(".title") %></h2>

        <button
          type="button"
          class="
            absolute top-4 right-4 text-2xl leading-none text-taupe-400 cursor-pointer
            hover:text-taupe-600
          "
          data-action="dialog#close"
          aria-label="Close dialog"
        >
          &times;
        </button>
      </header>

      <%= render "form",
                 accounts:     @accounts,
                 form:         @form,
                 method:       :post,
                 submit_label: t(".submit"),
                 url:          budget_transactions_path(@form.budget) %>
    </div>

    <%= render "payee_picker" %>
    <%= render "category_picker" %>
  </div>
<% end %>
