<!DOCTYPE html>

<html lang="en-US" class="antialiased text-gray-900">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= turbo_refresh_method_tag :morph %>
    <%= turbo_refresh_scroll_tag :preserve %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Budget">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#FFF">

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover, interactive-widget=resizes-content"
    >

    <meta name="format-detection" content="telephone=no">

    <title><%= page_title %></title>

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= asset_path("favicon-32.png") %>"
    >

    <link rel="apple-touch-icon" href="<%= asset_path("apple-touch-icon.png") %>">
    <link rel="manifest" href="<%= pwa_manifest_path(format: :json) %>">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "shared/collapsible_preload" %>
  </head>

  <body class="m-auto max-w-md text-black bg-white outline outline-taupe-200">
    <%= yield %>
  </body>
</html>
