<!DOCTYPE html>

<html lang="en-US" class="antialiased text-gray-900">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Budget">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#FFF">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title><%= t("title") %></title>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-auto max-w-md text-black bg-white outline outline-taupe-200"><%= yield %></body>
</html>
