<% content_for :title, t(".title") %>

<div class="flex flex-col min-h-dvh">
  <%= render "shared/dialog", id: "account_dialog" %>

  <header
    class="
      sticky top-0 z-10 grid grid-cols-3 items-center whitespace-nowrap border-b
      border-taupe-200 bg-white px-4 pt-safe pb-4
    "
  >
    <div></div>

    <h1 class="text-lg font-semibold justify-self-center"><%= t(".title") %></h1>

    <%= link_to new_budget_account_path(@budget),
                aria:  { label: t(".new") },
                data:  { turbo_frame: "account_dialog" },
                class: "m-0.5 flex h-6 w-6 items-center justify-center justify-self-end rounded-full border-2 border-taupe-800 leading-none text-taupe-800 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        class="h-[18px] w-[18px]"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          d="M8 2a.75.75 0 0 1 .75.75v4.5h4.5a.75.75 0 0 1 0 1.5h-4.5v4.5a.75.75 0 0 1-1.5 0v-4.5h-4.5a.75.75 0 0 1 0-1.5h4.5v-4.5A.75.75 0 0 1 8 2Z"
        />
      </svg>
    <% end %>
  </header>

  <section class="flex-1 -mt-px">
    <% if @cash_accounts.any? %>
      <div class="group" data-controller="collapsible" data-collapsible-id-value="cash">
        <div
          class="flex items-center justify-between py-2 px-4 bg-taupe-100 border-y border-taupe-200"
          data-action="click->collapsible#toggle"
        >
          <h2 class="text-lg font-bold">
            <div
              class="
                inline-block relative -inset-y-1 mr-2 w-3 h-3 border-r-2 border-b-2
                border-taupe-500 rotate-45 group-[.collapsed]:inset-y-0
                group-[.collapsed]:translate-x-(--collapsible-arrow-shift)
                group-[.collapsed]:-rotate-45
              "
              data-collapsible-arrow
            ></div>

            <%= t(".cash") %>
          </h2>

          <div class="text-right">
            <div class="text-sm font-normal"><%= t(".available") %></div>

            <div class="font-bold">
              <%= number_to_money @cash_accounts.sum(&:balance) %>
            </div>
          </div>
        </div>

        <ul
          class="divide-y divide-taupe-200 group-[.collapsed]:hidden"
          data-collapsible-content="collapsible-cash"
        >
          <% @cash_accounts.each do |account| %>
            <li>
              <%= link_to budget_account_transactions_path(@budget, account),
                          class: "flex items-center justify-between py-3 px-4 bg-white" do %>
                <span class="font-medium"><%= account.name %></span>

                <span class="inline-block py-0.5 px-2 font-semibold rounded-full <%= amount_color(account.balance) %>">
                  <%= number_to_money account.balance %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @credit_accounts.any? %>
      <div class="group" data-controller="collapsible" data-collapsible-id-value="credit">
        <div
          class="flex items-center justify-between py-2 px-4 bg-taupe-100 border-y border-taupe-200"
          data-action="click->collapsible#toggle"
        >
          <h2 class="text-lg font-bold">
            <div
              class="
                inline-block relative -inset-y-1 mr-2 w-3 h-3 border-r-2 border-b-2
                border-taupe-500 rotate-45 group-[.collapsed]:inset-y-0
                group-[.collapsed]:translate-x-(--collapsible-arrow-shift)
                group-[.collapsed]:-rotate-45
              "
              data-collapsible-arrow
            ></div>

            <%= t(".credit") %>
          </h2>

          <div class="text-right">
            <div class="text-sm font-normal"><%= t(".owed") %></div>

            <div class="font-bold">
              <%= number_to_money @credit_accounts.sum(&:balance) %>
            </div>
          </div>
        </div>

        <ul
          class="divide-y divide-taupe-200 group-[.collapsed]:hidden"
          data-collapsible-content="collapsible-credit"
        >
          <% @credit_accounts.each do |account| %>
            <li>
              <%= link_to budget_account_transactions_path(@budget, account),
                          class: "flex items-center justify-between py-3 px-4 bg-white" do %>
                <span class="font-medium"><%= account.name %></span>

                <span class="inline-block py-0.5 px-2 font-semibold rounded-full <%= amount_color(account.balance) %>">
                  <%= number_to_money account.balance %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </section>

  <%= render "shared/toolbar", budget: @budget %>
</div>
